@tailwind base;
@tailwind components;
@tailwind utilities;

/* body background start */
.anigrademate {
  background-image: url(../public/photo-1621504450181-5d356f61d307.jpeg);
  background-size: cover;
}
/* body back groound end */

/* Navbar start  */
.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  /* non-critical appearance styles */
  list-style: none;
  background: #111;
}

/* Navigation Menu - List items */
.nav-item {
  width: 200px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.nav-item a {
  display: block;
  padding: 1em;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(75, 20, 20, 0.65) 100%
  );
}
/* navbar end */
/* card css start */
.sizecard {
  display: flex;
  padding: auto;
  width: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem; /* equivalent to py-2 in Tailwind */
}
.moving:hover {
  animation: rotation 2s infinite linear;
}
.moving {
  background-size: contain;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* card end  */

/* gradient for text start  */
.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* gradient for text end  */
/* button home start */
.lbtn {
  border: 3px solid;
  border-image: repeating-linear-gradient(905deg, #e7570a, #037ced) 8;
  -webkit-mask: conic-gradient(
        from 180deg at top 8px right 8px,
        #0a0a0ad1 90deg,
        #000 0
      )
      var(--_i, 200%) 0 /200% var(--_i, 8px) border-box no-repeat,
    conic-gradient(at bottom 8px left 8px, gray 90deg, #000 0) 0 var(--_i, 200%) /
      var(--_i, 8px) 200% border-box no-repeat,
    linear-gradient(#10dc6c, #0b7de7) padding-box no-repeat;
  transition: 0.3s, -webkit-mask-position 0.3s 0.3s;
}

.lbtn:hover {
  --_i: 100%;
  color: #f2f2f2;
  transition: 0.3s, -webkit-mask-size 0.3s 0.3s;
}
.buttons {
  margin: 10px;
  text-align: center;
  border-radius: 30px;
}

.blob-btn {
  --numOfBlobs: 4;
  z-index: 1;
  position: relative;
  padding: 10px 23px;
  text-align: center;
  text-transform: uppercase;
  color: #435a57;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}

.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #435a57;
  border-radius: 30px;
}

.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}

.blob-btn:hover {
  color: #ffffff;
  border-radius: 30px;
}

.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}

.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #ffffff;
}

.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}

.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: calc(100% / var(--numOfBlobs));
  height: 100%;
  background: #435a57;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}

.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}

.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}

.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}

.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}

.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}

@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}
/* button home end */

/* loader start */
.loader {
  width: 10em;
  height: 10em;
  font-size: 25px;
  box-sizing: border-box;
  border-top: 0.3em solid hotpink;
  border-radius: 50%;
  position: relative;
  animation: rotating 2s ease-in-out infinite;
  --direction: 1;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-sizing: border-box;
  top: -0.2em;
}

.loader::before {
  border-top: 0.3em solid dodgerblue;
  transform: rotate(120deg);
}

.loader::after {
  border-top: 0.3em solid gold;
  transform: rotate(240deg);
}

.loader span {
  position: absolute;
  color: white;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 10em;
  font-family: sans-serif;
  animation: rotating 2s linear infinite;
  --direction: -1;
}

@keyframes rotating {
  50% {
    transform: rotate(calc(180deg * var(--direction)));
  }

  100% {
    transform: rotate(calc(360deg * var(--direction)));
  }
}
/* loader end */
.box {
  position: relative;
}
/* searching css start  */
.input {
  width: 350px;
  background: linear-gradient(to bottom, #15333a, #666666);
  border-radius: 10px;
  height: 40px;
  border: 4px solid #6e6d6a;
  font-family: Comic Sans MS;
  font-size: 20px;
  outline: none;
  transition: 0.5s;
}
.slide-in-right {
  animation: slideRight 1s ease-in-out 5s forwards;
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* searching css end */
.container {
  display: flex;
}

/* table backgraond start*/
.tablebg {
    background: linear-gradient(315deg, #2d322f6d, #d4db0ca2, #e5bd0b74);


  background-size: 400% 400%;

  animation: AnimationName 9s ease infinite;
}
.table2bg {
    background: linear-gradient(315deg, #2d322f6d, #d4db0ca2, #e5bd0b74);


  background-size: 400% 400%;

  animation: AnimationName 9s ease infinite;
}
@keyframes AnimationName {
  0% {
    background-position: 0% 47%;
  }
  50% {
    background-position: 100% 54%;
  }
  100% {
    background-position: 0% 47%;
  }
}
/* table background end  */
